<table class="govuk-table offender-details">
    <tr class="govuk-table__row">
        <th rowspan="2"><img class="offender-image" src="/public/images/garry.png" height=70 alt="Garry Hart"></th>
        <th scope="col" class="govuk-table__header">Name</th>
        <th scope="col" class="govuk-table__header">Date of birth</th>
        <th scope="col" class="govuk-table__header">PNC</th>
        <th scope="col" class="govuk-table__header">CRN no.</th>
        <th scope="col" class="govuk-table__header">Prison no.</th>
        <th scope="col" class="govuk-table__header">Location</th>
        <th scope="col" class="govuk-table__header">Sexual offences</th>
        <th scope="col" class="govuk-table__header">Last updated</th>
    </tr>

    <tr class="govuk-table__row">
        <td class="govuk-table__cell" data-qa="name">Garry Hart</td>
        <td class="govuk-table__cell" data-qa="dob">12 Oct 1999</td>
        <td class="govuk-table__cell" data-qa="crn">BC34587</td>
        <td class="govuk-table__cell" data-qa="prison-number">493227</td>
        <td class="govuk-table__cell" data-qa="prison-number">A2135HG</td>
        <td class="govuk-table__cell" data-qa="probation-area">Leeds NE</td>
        <td class="govuk-table__cell" data-qa="pnc">Yes</td>
        <td class="govuk-table__cell" data-qa="refer">20 Aug 2020</td>
    </tr>
    </tbody>
</table>
