{% extends "layout_pf.html" %}

{% block pageTitle %}
    Risk to a known child
{% endblock %}

{% block content %}
    {% include "includes/offender-details.njk" %}

    <div class="govuk-hint" style="margin-bottom:5px">Alcohol misuse</div>
    <h1 class="govuk-heading-l">Areas for action</h1>

    <p>Page dev in progress</p>

    <p><a href="pakc-interventions">Click here for 'Physical abuse of a known child' risk management pages</a></p>


    {{ govukButton({
        text: "Save and continue"
    }) }}


{% endblock %}
