{% extends "layout_pf.html" %}

{% block pageTitle %}
    Effect on the individual
{% endblock %}

{% block content %}
    {{ govukBackLink({
        text: "Back",
        href: "people-affected"
    }) }}
    {% include "includes/offender-details.njk" %}
    <div class="govuk-hint" style="margin-bottom:5px">Alcohol misuse</div>
    <h1 class="govuk-heading-l">Effect on the individual</h1>
    {% include "includes/user-guide.njk" %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="/effect-indiv" method="post" novalidate>

                {% set qId = 'eoi-self-harm' %}
                {{ govukRadios({
                    classes: "govuk-radios--inline",
                    idPrefix: qId,
                    name: qId,
                    fieldset: {
                        legend: {
                            text: "Risk of suicide or self-harm",
                            isPageHeading: false,
                            classes: "govuk-fieldset__legend--m"
                        }
                    },
                    items: [
                        {
                            value: "yes",
                            text: "Yes",
                            checked: checked(qId, "yes")
                        },
                        {
                            value: "no",
                            text: "No",
                            checked: checked(qId, "no")
                        },
                        {
                            value: "dont-know",
                            text: "Don't know",
                            checked: checked(qId, "dont-know")
                        }
                    ]
                }) }}

                {% set qId = 'eoi-coping' %}
                {{ govukRadios({
                    classes: "govuk-radios--inline",
                    idPrefix: qId,
                    name: qId,
                    fieldset: {
                        legend: {
                            text: "Coping in custody or a hostel",
                            isPageHeading: false,
                            classes: "govuk-fieldset__legend--m"
                        }
                    },
                    items: [
                        {
                            value: "yes",
                            text: "Yes",
                            checked: checked(qId, "yes")
                        },
                        {
                            value: "no",
                            text: "No",
                            checked: checked(qId, "no")
                        },
                        {
                            value: "dont-know",
                            text: "Don't know",
                            checked: checked(qId, "dont-know")
                        }
                    ]
                }) }}


                {% set qId = 'eoi-inc-vulnerability' %}
                {{ govukRadios({
                    classes: "govuk-radios--inline",
                    idPrefix: qId,
                    name: qId,
                    fieldset: {
                        legend: {
                            text: "Increased vulnerability",
                            isPageHeading: false,
                            classes: "govuk-fieldset__legend--m"
                        }
                    },
                    items: [
                        {
                            value: "yes",
                            text: "Yes",
                            checked: checked(qId, "yes")
                        },
                        {
                            value: "no",
                            text: "No",
                            checked: checked(qId, "no")
                        },
                        {
                            value: "dont-know",
                            text: "Don't know",
                            checked: checked(qId, "dont-know")
                        }
                    ]
                }) }}



                {{ govukButton({
                    text: "Save and continue"
                }) }}
            </form>
        </div>
    </div>

{% endblock %}
