{% extends "layout_pf.html" %}

{% block pageTitle %}
    Long-term problems and needs
{% endblock %}

{% block content %}
    {% set moreDetailHtml %}
        <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="review-details">
                Give details
            </label>
            <div class="govuk-hint" style="margin-top:6px">Describe level and frequency of alcohol consumption at
                present
            </div>
            <textarea class="govuk-textarea govuk-input--width-20 govuk-!-margin-bottom-0" id="misuse-details"
                      name="review-details" rows="4"></textarea>
            <div class="govuk-hint" style="margin-top:10px">You have 200 characters remaining</div>
        </div>

    {% endset %}
    {% set moreDetail2Html %}
        <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="review-details">
                Give details
            </label>
            <div class="govuk-hint" style="margin-top:6px">Describe level and frequency of alcohol consumption</div>
            <textarea class="govuk-textarea govuk-input--width-20 govuk-!-margin-bottom-0" id="abuse-details"
                      name="review-details" rows="4"></textarea>
            <div class="govuk-hint" style="margin-top:10px">You have 200 characters remaining</div>
        </div>

    {% endset %}
    {{ govukBackLink({
        text: "Back",
        href: "subject"
    }) }}
    {% include "includes/offender-details.njk" %}
    <div class="govuk-hint" style="margin-bottom:5px">Alcohol misuse</div>
    <h1 class="govuk-heading-l">Long-term problems and needs</h1>
    {% from "govuk/components/details/macro.njk" import govukDetails %}

    {% include "includes/user-guide.njk" %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="/longterm" method="post" novalidate>

                {{ govukRadios({
                    idPrefix: "ltp-12months",
                    name: "ltp-12months",
                    fieldset: {
                        legend: {
                            text: "In the 12 months to now, has alcohol misuse been",
                            isPageHeading: false,
                            classes: "govuk-fieldset__legend--m"
                        }
                    },
                    items: [
                        {
                            value: "no",
                            text: "No problem",
                            checked: checked("ltp-12months", "no")
                        },
                        {
                            value: "some",
                            text: "Something of a problem",
                            checked: checked("ltp-12months", "some"),
                            conditional: {
                            html: moreDetailHtml
                        }
                        },
                        {
                            value: "significant",
                            text: "A significant problem",
                            checked: checked("ltp-12months", "no"),
                            conditional: {
                            html: moreDetailHtml
                        }
                        }
                    ]
                }) }}

                {{ govukRadios({
                    idPrefix: "ltp-domvio",
                    name: "ltp-domvio",
                    fieldset: {
                        legend: {
                            text: "Are there problems of domestic violence or partner abuse?",
                            isPageHeading: false,
                            classes: "govuk-fieldset__legend--m"
                        }
                    },
                    items: [
                        {
                            value: "no",
                            text: "No problems",
                            checked: checked("ltp-domvio", "no")
                        },
                        {
                            value: "some",
                            text: "Some problems",
                            checked: checked("ltp-domvio", "some"),
                            conditional: {
                            html: moreDetailHtml
                        }
                        },
                        {
                            value: "significant",
                            text: "Significant problems",
                            checked: checked("ltp-domvio", "significant"),
                            conditional: {
                            html: moreDetailHtml
                        }
                        }
                    ]
                }) }}

                {% set qId = 'ltp-binge' %}
                {{ govukRadios({
                    idPrefix: qId,
                    name: qId,
                    fieldset: {
                        legend: {
                            text: "In the past 6 months, has binge drinking been",
                            isPageHeading: false,
                            classes: "govuk-fieldset__legend--m"
                        }
                    },
                    items: [
                        {
                            value: "no",
                            text: "No problem",
                            checked: checked("ltp-binge", "no")
                        },
                        {
                            value: "some",
                            text: "Something of a problem",
                            checked: checked("ltp-binge", "some"),
                            conditional: {
                            html: moreDetail2Html
                        }
                        },
                        {
                            value: "sig",
                            text: "A significant problem",
                            checked: checked("ltp-binge", "sig"),
                            conditional: {
                            html: moreDetail2Html
                        }
                        }
                    ]
                }) }}

                {% set qId = 'ltp-freq-level' %}
                {{ govukRadios({
                    idPrefix: qId,
                    name: qId,
                    fieldset: {
                        legend: {
                            text: "Have there been problems with the frequency and level of alcohol misuse in the past?",
                            isPageHeading: false,
                            classes: "govuk-fieldset__legend--m"
                        }
                    },
                    items: [
                        {
                            value: "no",
                            text: "No problems",
                            checked: checked("ltp-freq-level", "no")
                        },
                        {
                            value: "some",
                            text: "Some problems",
                            checked: checked("ltp-freq-level", "some"),
                            conditional: {
                            html: moreDetail2Html
                        }
                        },
                        {
                            value: "significant",
                            text: "Significant problems",
                            checked: checked("ltp-freq-level", "significant"),
                            conditional: {
                            html: moreDetail2Html
                        }
                        }
                    ]
                }) }}

                {% set qId = 'ltp-violent' %}
                {{ govukRadios({
                    classes: "govuk-radios--inline",
                    idPrefix: qId,
                    name: qId,
                    fieldset: {
                        legend: {
                            text: "Has there been violent behaviour related to alcohol misuse at any time?",
                            isPageHeading: false,
                            classes: "govuk-fieldset__legend--m"
                        }
                    },
                    items: [
                        {
                            value: "yes",
                            text: "Yes",
                            checked: checked(qId, "yes")
                        },
                        {
                            value: qId + "-no",
                            text: "No"
                        }
                    ]
                }) }}

                {% set qId = 'ltp-motivation' %}
                {{ govukRadios({
                    idPrefix: qId,
                    name: qId,
                    fieldset: {
                        legend: {
                            text: "Is the individual's motivation to tackle alcohol misuse",
                            isPageHeading: false,
                            classes: "govuk-fieldset__legend--m"
                        }
                    },
                    items: [
                        {
                            value: "no",
                            text: "No problem",
                            checked: checked(qId, "no")
                        },
                        {
                            value: "some",
                            text: "Something of a problem",
                            checked: checked(qId, "some"),
                            conditional: {
                            html: moreDetail2Html
                        }
                        },
                        {
                            value: "significant",
                            text: "A significant problem",
                            checked: checked(qId, "significant"),
                            conditional: {
                            html: moreDetail2Html
                        }
                        }
                    ]
                }) }}

                <div class="govuk-form-group" style="margin-top:50px">
                    <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="more-detail">
                            Alcohol misuse issues contributing to risks of offending and harm
                        </label>
                    </h1>
                    <p>Give details</p>
                    <div id="more-detail-hint" class="govuk-hint" style="margin-bottom:0">
                        Include any positive factors
                    </div>
                    <textarea style="margin-bottom:0" class="govuk-textarea govuk-!-width-three-quarters"
                              id="ltp-contrib-issues" name="ltp-contrib-issues" rows="4"
                              aria-describedby="more-detail-hint">{{ data['ltp-contrib-issues'] }}</textarea>
                    <div id="more-detail-hint" class="govuk-hint">
                        You have 200 characters remaining
                    </div>
                </div>

                {% set qId = 'ltp-serious-harm' %}
                {{ govukRadios({
                    classes: "govuk-radios--inline",
                    idPrefix: qId,
                    name: qId,
                    fieldset: {
                        legend: {
                            text: "Is alcohol misuse linked to risk of serious harm, risks to the individual and other risks?",
                            isPageHeading: false,
                            classes: "govuk-fieldset__legend--m"
                        }
                    },
                    items: [
                        {
                            value: "yes",
                            text: "Yes",
                            checked: checked(qId, "yes")
                        },
                        {
                            value: "no",
                            text: "No",
                            checked: checked(qId, "no")
                        }
                    ]
                }) }}

                {% set qId = 'ltp-offending-link' %}
                {{ govukRadios({
                    classes: "govuk-radios--inline",
                    idPrefix: qId,
                    name: qId,
                    fieldset: {
                        legend: {
                            text: "Is alcohol misuse linked to offending behaviour?",
                            isPageHeading: false,
                            classes: "govuk-fieldset__legend--m"
                        }
                    },
                    items: [
                        {
                            value: "yes",
                            text: "Yes",
                            checked: checked(qId, "yes")
                        },
                        {
                            value: "no",
                            text: "No",
                            checked: checked(qId, "no")
                        }
                    ]
                }) }}

                {{ govukButton({
                    text: "Save and continue"
                }) }}
            </form>
        </div>
    </div>

{% endblock %}
