{% extends "layout_pf.html" %}

{% block pageTitle %}
    People affected
{% endblock %}

{% block content %}
    {{ govukBackLink({
        text: "Back",
        href: "positives"
    }) }}
    {% include "includes/offender-details.njk" %}
    <div class="govuk-hint" style="margin-bottom:5px">Alcohol misuse</div>
    <h1 class="govuk-heading-l">People affected</h1>
    {% include "includes/user-guide.njk" %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="/people-affected" method="post" novalidate>
                {{ govukCheckboxes({
                    idPrefix: "people-affected",
                    name: "people-affected",
                    fieldset: {
                        legend: {
                            text: "Who is affected?",
                            isPageHeading: true,
                            classes: "govuk-fieldset__legend--m"
                        }
                    },
                    items: [
                        {
                            value: "individual",
                            text: "The individual",
                            checked: checked("people-affected", "individual")
                        },
                        {
                            value: "victim",
                            text: "A victim",
                            checked: checked("people-affected", "victim")
                        }
                    ]
                }) }}

                {{ govukButton({
                    text: "Save and continue"
                }) }}
            </form>
        </div>
    </div>

{% endblock %}
