{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% extends "layout.html" %}

{% block pageTitle %}
    Positives
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-l">Positives</h1>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="/positives" method="post" novalidate>

                <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="more-detail">
                            Protective factors
                        </label>
                    </h1>

                    <textarea style="margin-bottom:10px" class="govuk-textarea govuk-!-width-three-quarters"
                              id="pos-protective" name="pos-protective" rows="4"
                              aria-describedby="pos-protective-hint"></textarea>
                    <div id="pos-protective-hint" class="govuk-hint">
                        You have 200 characters remaining
                    </div>
                </div>


                <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="more-detail">
                            Motivation
                        </label>
                    </h1>

                    <textarea style="margin-bottom:10px" class="govuk-textarea govuk-!-width-three-quarters"
                              id="pos-motivation" name="pos-motivation" rows="4"
                              aria-describedby="pos-motivation-hint"></textarea>
                    <div id="pos-motivation-hint" class="govuk-hint">
                        You have 200 characters remaining
                    </div>
                </div>

                <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="more-detail">
                            Strengths
                        </label>
                    </h1>

                    <textarea style="margin-bottom:10px" class="govuk-textarea govuk-!-width-three-quarters"
                              id="pos-strengths" name="pos-strengths" rows="4"
                              aria-describedby="pos-strengths-hint"></textarea>
                    <div id="pos-strengths-hint" class="govuk-hint">
                        You have 200 characters remaining
                    </div>
                </div>

                <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="more-detail">
                            Completed interventions
                        </label>
                    </h1>

                    <textarea style="margin-bottom:10px" class="govuk-textarea govuk-!-width-three-quarters"
                              id="pos-interventions" name="pos-interventions" rows="4"
                              aria-describedby="pos-interventions-hint"></textarea>
                    <div id="pos-interventions-hint" class="govuk-hint">
                        You have 200 characters remaining
                    </div>
                </div>

                {{ govukButton({
                    text: "Save and continue"
                }) }}
            </form>
        </div>
    </div>

{% endblock %}
