{% extends "layout.html" %}

{% block pageTitle %}
Offender risk history
{% endblock %}

{% block content %}

<div class="govuk-grid-row chart-holder">
    <div class="govuk-grid-column-two-thirds">
        <div id="chart-area"></div>
    </div>
</div>
<div class="timeline">
    <ul>
        <li class="rosha eventItem">
            <a id="point_1"></a>
            {{govukTag({
            text: "ROSHA",
            classes: "rosha--label"
            })}}
            <h2 class="timeline__title">Change of address</h2>
            <p class="timeline__meta">
                <time>20 August 2020 at 1:45 pm</time>
                by Sarah Smith
            </p>
        </li>
        <li class="ogres rosha eventItem">
            <a id="point_2"></a>
            {{govukTag({
            text: "ROSHA",
            classes: "rosha--label"
            })}}{{govukTag({
            text: "OGRES",
            classes: "ogres--label"
            })}}
            <h2 class="timeline__title">Completion of intervention</h2>
            <p class="timeline__meta">
                <time>20 August 2020 at 1:45 pm</time>
                by Sarah Smith
            </p>
        </li>
        <li class="rosha eventItem">
            <a id="point_3"></a>
            {{govukTag({
            text: "ROSHA",
            classes: "rosha--label"
            })}}
            <h2 class="timeline__title">Objective created</h2>
            <p class="timeline__meta">
                <time>20 August 2020 at 1:45 pm</time>
                by Sarah Smith
            </p>
        </li>
        <li class="ogp eventItem">
            <a id="point_4"></a>
            {{govukTag({
            text: "OGP",
            classes: "ogp--label"
            })}}
            <h2 class="timeline__title">Objective created</h2>
            <p class="timeline__meta">
                <time>20 August 2020 at 1:45 pm</time>
                by Sarah Smith
            </p>
        </li>
        <li class="ogres eventItem">
            <a id="point_5"></a>
            {{govukTag({
            text: "OGRES",
            classes: "ogres--label"
            })}}
            <h2 class="timeline__title">Objective created</h2>
            <p class="timeline__meta">
                <time>20 August 2020 at 1:45 pm</time>
                by Sarah Smith
            </p>
        </li>
        <li class="eventItem">
            <a id="point_6"></a>
            <h2 class="timeline__title">Started alcohol awareness course</h2>
            <p class="timeline__meta">
                <time>20 August 2020 at 1:45 pm</time>
                by Sarah Smith
            </p>
        </li>
        <li class="ogp eventItem">
            <a id="point_7"></a>
            {{govukTag({
            text: "OGP",
            classes: "ogp--label"
            })}}
            <h2 class="timeline__title">Objective created</h2>
            <p class="timeline__meta">
                <time>20 August 2020 at 1:45 pm</time>
                by Sarah Smith
            </p>
        </li>
        <li class="eventItem">
            <a id="point_8"></a>
            <h2 class="timeline__title">Objective created</h2>
            <p class="timeline__meta">
                <time>20 August 2020 at 1:45 pm</time>
                by Sarah Smith
            </p>
        </li>
    </ul>
</div>

<script src="/public/javascripts/offender-chart.js"></script>
{% endblock %}
